.promotion {
    text-align: center;
    font-family: "Vibur",cursive;
    font-size: 45px;
}

#mojito-banner {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    padding-bottom: 30px;
}