.promotion {
    text-align: center;
}

.promotion-header {
    text-align: center;
    font-family: "Vibur",cursive;
    font-size: 45px;
    color: yellow;
    animation:blinkingText 2s infinite;
}

@keyframes blinkingText{
    0% {color: yellow;}
    49% {color: transparent;}
    50% {color: transparent;}
    99% {color: transparent;}
    100% {color: yellow;}
}

.promotion-detail {
    text-align: center;
    font-family: "Calligraffitti",cursive;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 20px;
    color: white;
}

.image-banner {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .promotion {
        width: 100vw;
    }

    .promotion-header {
        font-size: 20px;
    }

    .promotion-detail {
        font-size: 18px;
    }

    .image-banner {
        width: 300px;
        height: 300px;
        margin-top: 30px;
    }

    .image-banner img {
        height: 300px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .promotion-header {
        font-size: 26px;
    }

    .promotion-detail {
        font-size: 28px;
    }

    .image-banner {
        width: 250px;
        height: 250px;
        margin-top: 20px;
    }

    .image-banner img {
        height: 250px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}


