/* Popup style */
.member-popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:1000;
  }
   
.member-box {
  position: relative;
  width: 40%;
  margin: 0 auto;
  height: auto;
  max-height: 90vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  /* padding: 20px; */
  border: 1px solid #999;
  overflow: auto;
}
  
.server-popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index:1000;
}
  
.server-box {
  position: relative;
  width: 40%;
  margin: 0 auto;
  height: auto;
  max-height: 90vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  /* padding: 20px; */
  border: 1px solid #999;
  overflow: auto;
}

.payment-popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index:1000;
}
  
.payment-box {
  position: relative;
  width: 40%;
  margin: 0 auto;
  height: auto;
  max-height: 90vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  /* padding: 20px; */
  border: 1px solid #999;
  overflow: auto;
}

.orderlist-popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index:1000;
}
  
.orderlist-box {
  position: relative;
  width: 40%;
  margin: 0 auto;
  height: auto;
  max-height: 90vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  /* padding: 20px; */
  border: 1px solid #999;
  overflow: auto;
}

.orderbill-popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index:1000;
}
  
.orderbill-box {
  position: relative;
  width: 40%;
  margin: 0 auto;
  height: auto;
  max-height: 90vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  /* padding: 20px; */
  border: 1px solid #999;
  overflow: auto;
}

.member-close-icon, .server-close-icon, .payment-close-icon, .orderlist-close-icon, .orderbill-close-icon{
  content: 'x';
  position: fixed;
  cursor: pointer;
  width: 30px;
  height: 30px;
  right: 30%;
  border-radius: 50%;
  line-height: 25px;
  text-align: center;
  font-family: "Yomogi", cursive;
  font-weight: bold;
  font-size: 30px;
}

.member-close-icon:hover, .orderlist-close-icon:hover, .payment-close-icon:hover, .server-close-icon:hover, .orderbill-close-icon:hover {
  font-size: 35px;
}
