body {
    background: url('./assets/background.jpg');
    background-size: auto;
    background-position: fixed;
    margin: 0;
}

.background-opacity{
    background-color: rgba(0 ,0 ,0 ,0.8);
    padding-bottom: 50px;
}

.ingress{
    -webkit-animation: slide-bottom 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
        opacity: 1;
    }
  }

  @keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
        
    }
  }

  .toggleMenu {
    position: absolute;
    top: 170px;
    right: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    z-index: 1;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}

.toggleMenu:hover {
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.header{
    text-align: center;
}

.navbarcontainer{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.navbar{
    margin: 0 auto;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
}

.pages {
    border: none;
    background-color: transparent;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Yomogi', cursive;
    color: white;
}


.pages:hover, .pages:hover::before, .pages:hover::after{
    cursor: pointer;
    content: "\1F338";
}

.selected-page {
    border: none;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Yomogi', cursive;
    background-color: transparent;
    color: white;
}

.selected-page:hover, .selected-page:before, .selected-page:after {
    content: "\1F338";
}

.maincontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.trialcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menuitemcontainer{
    margin: 0 auto;
}

.menu{
    margin:10px;
    height: 500px;
}

.orderlistcontainer{
    width:29.7%;
}

.order{
    margin:10px;
    height: 500px;
}

.footer{
    height: 120px;
}

.orderTitle {
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .background-opacity{
        background-color: rgba(0 ,0 ,0 ,0.8);
        margin-top: -40px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
    }

    .navbar button{
        text-align: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}