/* #image{
    width:200px;
} */

body {
    margin: 0;
    -webkit-animation: slide-bottom 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background-color: black;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
        opacity: 1;
    }
  }

  @keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
        
    }
  }


#root {
    background-color: black;
}

.header{
    text-align: center;
    background-color: black;
}

.navbarcontainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar{
    margin: 0 auto;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
}

.pages {
    border: none;
    background-color: white;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Yomogi', cursive;
    background-color: black;
    color: white;
}


.pages:hover, .pages:hover::before, .pages:hover::after{
    cursor: pointer;
    content: "\1F338";
}

.selected-page {
    border: none;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Yomogi', cursive;
    background-color: black;
    color: white;
}

.selected-page:hover, .selected-page:before, .selected-page:after {
    content: "\1F338";
}

.maincontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.trialcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menuitemcontainer{
    margin: 0 auto;
}

.menu{
    margin:10px;
    height: 500px;
}

.orderlistcontainer{
    width:29.7%;
}

.order{
    margin:10px;
    height: 500px;
}

.footer{
    height: 120px;
}

.orderTitle {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .header{
        height: 200px;
    }
    
    .navbar{
    
        height: 60px;
    }
    
    .menu{

        height: 680px;
    }

    .order{

        height: 680px;
        
    }
    
    .footer{
        height: 120px;
    }
  }