.header{
    border:1px solid black;
    height: 120px;
}

.navbarcontainer{
    border:1px solid black;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar{
    border:1px solid black;
    height: 60px;
    width:70%;
}

.server{
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-right:1px solid black;
    height: 50px;
    width:29.5%;
    margin-top: 5px;
}

.maincontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.menuitemcontainer{
    border:1px solid black;
    width:70%;
}

.menu{
    border:1px solid black;
    margin:10px;
    height: 500px;
}

.orderlistcontainer{
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-right:1px solid black;
    width:29.7%;
}

.order{
    border:1px solid black;
    margin:10px;
    height: 500px;
    
}

.footer{
    border:1px solid black;
    height: 120px;
}



@media only screen and (min-width: 768px) {
    /* For desktop: */
    .header{
        height: 120px;
    }
    
    .navbar{
    
        height: 60px;
    }
    
    .menu{

        height: 680px;
    }

    .order{

        height: 680px;
        
    }
    
    .footer{
        height: 120px;
    }
  }