h2 {
  font-family: "Vibur", cursive;
  margin: 30px 0 0 0;
  text-align: center;
  color: black;
}

.empty-list {
  font-family: "Yomogi", cursive;
  font-weight: bold;
  text-align: center;
  color: black;
}

.table-header {
  width: 150px;
  padding: 10px 10px 20px 10px;
  font-family: "Yomogi", cursive;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.table-content{
  text-align: center;
  padding-bottom: 10px;
  font-family: "Yomogi", cursive;
  font-weight: bold;
  width: 150px;
  color: black;
}

.quantityDisplay {
  width: 15%;
  text-align: center;
  margin: 0 10px;
  height: 15px;
}





