#imagecontainer{
    width:220px;
}

#image{
    width:200px;
    height: 200px;
    border-radius: 10%;
    border: white solid 3px;
}

.itemcomponent{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:250px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    color: white;
}

.item-desc-container{
    text-align: center;
    width: 180px;
    height:60px;
    font-family:'Yomogi', cursive;
    font-weight: bold;
    font-size: 15px;
}

.quantity-container{
    text-align: center;
}

.minusbutton,
.plusbutton {
    width:50px;
}

.menu-input{
    width: 10%;
    text-align: center;
    margin: 10px;
    background-color: white;
    opacity: 90%;
    border: none;
    border-radius: 1px;
}

.addbutton{
    width:50px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .addbutton {
        margin-top: 5px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}