#imagecontainer{
    width:200px;
    /* height:133.29px; */
}

#image{
    /* width: fit-content;
    height:fit-content; */
    width:200px;
    height:200px;
}

.textandprice{
    width:178.18px;
    height:36px;
}

.itemcomponent{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:215px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
    /* padding-top: 20px; */
}

.minusbutton,
.plusbutton {
    width:50px;
}

.addbutton {
    width:100px;
}

.itemcomponent input {
    text-align: center;
}