#imagecontainer{
    width:200px;
}

#image{
    /* width: fit-content;
    height:fit-content; */
    width:200px;
    height: 200px;
    border-radius: 10%;
}

.itemcomponent{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:250px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    color: white;
}

.item-desc-container{
    text-align: center;
    width: 180px;
    height:60px;
    font-family:'Yomogi', cursive;
    font-weight: bold;
    font-size: 15px;
}

.quantity-container{
    text-align: center;
}

.minusbutton
.plusbutton {
    width:50px;
}

.menu-input{
    width: 10%;
    text-align: center;
    margin: 10px
}

.addbutton{
    width:50px;
}