#imagecontainer{
    width:200px;
}

#image{
    /* width: fit-content;
    height:fit-content; */
    width:200px;
    height:200px;
}

.textandprice{
    width:178.18px;
    height:36px;
}

.itemcomponent{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:215px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
}

.item-desc-container{
    text-align: center;
    width: 180px;
    font-family:'Calligraffitti', cursive;
    font-weight: bold;
    font-size: 20px;
}

.quantity-container{
    text-align: center;
}

.minusbutton .plusbutton{
    width:50px;
}

.menu-input{
    width: 10%;
    text-align: center;
    margin: 10px
}

.addbutton{
    width:50px;
}