.orderlist-popup {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index:1000;
}

.popup-page {
    position: relative;
    width: 40%;
    margin: 0 auto;
    height: auto;
    max-height: 90vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    /* padding: 20px; */
    border: 1px solid #999;
    overflow: auto;
}


/* No adjustment needed for <th> as they are bold and centered by default 
   <td> are regular and left-aligned so need to adjust to center
*/

/* #table-col-1 h1 {
    margin:auto;
    line-height:50px;
    align-content: center;
} */

.invoice {
    position: relative;
    left: 0;
}

.table {
    position: relative;
    top: 0;
    left: 10%;
}

.popupTitle {
    text-align: center;
    font-family:"Vibur", cursive;
}

th {
    padding: 0 50px;
    font-family: "Yomogi", cursive;
    font-weight: bold;
}

.close {
  border: none;
  background: transparent;
  content: 'x';
  position: fixed;
  cursor: pointer;
  width: 30px;
  height: 30px;
  right: 30%;
  border-radius: 50%;
  line-height: 25px;
  text-align: center;
  font-family: "Yomogi", cursive;
  font-weight: bold;
  font-size: 30px;
}

.close:hover {
    font-size:35px;
}

.amend-btn:hover {
    cursor:pointer;
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    justify-content: center;
    padding-top: 50px;
}
.amend-btn {
    padding: 10px;
    max-width: 150px;
    background-color: rgb(240, 240, 240);
}

.amend-btn:hover {
    cursor:pointer;
    font-weight: bold;
}