.footer-container {
  text-align: center;
  position: relative;
  bottom: 0;
  margin-top: 20px;
}

.fb-img, .instagram-img, .twitter-img {
  width: 50px;
  padding: 20px;
}

.copyright {
  margin: 0;
  font-size: 13px;
  font-family: "Yomogi", cursive;
  font-weight: bold;
}