.header-title{
  font-family: 'Licorice', cursive;
  font-weight: bold;
  font-size: 100px;
  padding: 30px 0;
  color: white;
}

 
@media only screen and (max-width: 600px) {
    .header-title {
      font-size: 70px;
      margin: 10% 0 0 0;
      width: 100vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}