.orderlist {
  height: auto;
  width: auto;
  padding: 10px;
  position: absolute;
  top: -25px;
  right: 160px;
  z-index: 1;
}

img:hover {
  cursor: pointer;
}

.quantityUpdater {
  width:20px;
  height:20px;
  border-radius: 50%;
  background-color: white;
  opacity: 70%;
  text-align: center;
  margin-top: -20px;
  margin-left: 30px;
  font-family: "Yomogi", cursive;
  font-weight: bold;
  font-size: 12px;
  z-index: 1;
  position: absolute;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .orderlist {
    right: 130px;
    top: -18px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .orderlist {
    right: 140px;
    top: -18px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .orderlist {
    right: 190px;
    top: -18px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .orderlist {
    right: 200px;
    top: -18px;
  }
}