.orderlist {
  height: 30px;
  width: 40px;
  position: absolute;
  top: -15px;
  right: 190px;
  z-index: -1;
}

img:hover {
  cursor: pointer;
}

.quantityUpdater {
  width:20px;
  height:20px;
  border-radius: 50%;
  background-color: white;
  opacity: 70%;
  text-align: center;
  margin-top: -20px;
  margin-left: 30px;
  font-family: "Yomogi", cursive;
  font-weight: bold;
  font-size: 12px;
  z-index: 1;
  position: absolute;
}
