.payment {
    height: 40px;
    width: 40px;
    position: absolute;
    top: -5px;
    right: 20px;
    z-index: 1;
}

img {
    padding: 5px;
}

img:hover {
    cursor: pointer;
}

.payment-content {
    text-align: center;
    padding: 20px 0;
    font-family: 'Yomogi', cursive;
    font-size: 20px;
    font-weight: bold;
}