.payment {
    height: 40px;
    width: 40px;
    position: absolute;
    top: -5px;
    right: 20px;
    z-index: 1;
}

img {
    padding: 5px;
}

img:hover {
    cursor: pointer;
}

.payment-content {
    text-align: center;
    padding: 20px 0;
    font-family: 'Yomogi', cursive;
    font-size: 20px;
    font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .payment {
        right: 10px;
    }

    .payment-content {
        padding: 20px;
        font-size: 14px;
        width: auto;
        height: auto;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .payment {
        right: 10px;
    }

    .payment-content {
        padding: 20px;
        font-size: 14px;
        width: auto;
        height: auto;
    }
}