.server {
    height: 30px;
    width: 40px;
    position: absolute;
    top: -10px;
    right: 110px;
}

img {
    padding: 5px;
}

img:hover {
    cursor: pointer;
    width: 55px;
    height: 55px;
}

.server-content {
    text-align: center;
    padding: 20px 0;
    font-family: 'Yomogi', cursive;
    font-size: 20px;
    font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .server {
        height: 15px;
        width: 20px;
        right: 90px;
    }

    .server-content {
        padding: 20px;
        font-size: 14px;
        width: auto;
        height: auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}